/*[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Italic;
    src: url('../fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

/*[ FONT ]
///////////////////////////////////////////////////////////
*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Italic;
    src: url('../fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Black;
    src: url('../fonts/poppins/Poppins-Black.ttf');
}

/*---------------------------------------------*/
@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}


/* [ Header ] */
.header {
    height: 80px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.container-menu-header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1100;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
}

/* [ Menu ] */
.wrap-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/** [ Logo ] **/
.logo {
    display: block;
    position: absolute;
    left: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 37px;
    color: black;
}

.logo:hover {
    text-decoration: none;
    color: black;
}

/* [ Menu ] */
.main_menu {
    list-style-type: none;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_menu > li {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.main_menu > li > a {
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #333;
    margin-left: 7px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#submit {
    font-family: Poppins-Medium;
    background: transparent;
    font-size: 20px;
    color: #333;
    margin-left: 7px;
    padding-bottom: 1px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    cursor: pointer;
}

#submit:hover {
    text-decoration: none;
    color: #6c7ae0;
}

li.sale-noti > a {
    color: #e65540;
}

.main_menu > li > a:hover {
    text-decoration: none;
    color: #6c7ae0;
}


/* [ Header_Icon ] */
input:focus {
    outline: none;
}

.close_position {
    margin-top: 32px;
    position: absolute;
    right: 22px;
}

.side_login {
    font-size: 25px;
}

.sidebar_item_position {
    padding-left: 35px;
    font-size: 22px;
    padding-top: 120px;
}

.side_item_color {
    color: gray;
}

.side_phone {
    font-family: Poppins-Italic;
    font-size: 23px;
    color: #ff353d;
}

.side_cust_info_li {
    font-size: 13px;
}

.ltext-202 {
    font-family: PlayfairDisplay-Regular;
    font-size: 28px;
    line-height: 1.2857;
}



/* [ Main_Slider] */
.wrap-slick1 {
    position: relative;
}

.item-slick1 {
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.rs1-slick1 .item-slick1 {
    height: calc(100vh - 400px);
}
.rs2-slick1 .item-slick1 {
    height: 100vh;
}
@media (max-width: 991px) {
    .item-slick1 {
        height: calc(100vh - 400px) !important;
    }
}

.respon2 {
    font-size: 20px;
}

.ltext-104 {
    font-family: Poppins-Bold;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
}

/* [ Main_Banner ] */
/** [ Category ] **/
.ltext-105 {
    font-family: Poppins-Bold;
    font-size: 50px;
    line-height: 1.1;
}

.respon1 {
    font-size: 40px;
}

.category {
    margin-top: 50px;
}

/** [ Block 1 ]**/
.respon4 {
    width: 100%;
    height: 500px;
}

.block1 {
    position: relative;
    height: 430px;
    border: 1px solid #e6e6e6;
}

.block1-txt {
    background-color: rgba(103,117,214,0.0);
}

.block1-name {
    color: #333;
}

.ltext-102 {
    font-family: Poppins-Bold;
    font-size: 28px;
    line-height: 1.1;
}

.block1-txt:hover {
    background-color: rgba(103,117,214,0.8);
    text-decoration: none;
}

.block1-txt:hover .block1-txt-child2 {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.block1-txt:hover .block1-link {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.block1-txt:hover .block1-name,
.block1-txt:hover .block1-info {
    color: #fff;
}

.block1-txt-child2 {
    border-bottom: 2px solid #fff;
    overflow: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.block1-link {
    -webkit-transform: translateY(250%);
    -moz-transform: translateY(250%);
    -ms-transform: translateY(250%);
    -o-transform: translateY(250%);
    transform: translateY(250%);
}


/* [ Best Seller ]*/
.container-fluid {
    padding: 0px 250px !important;
    margin-bottom: 100px;
}

.customImg {
    width: 300px;
    height: auto;
}

.best {
    font-family: Poppins-Medium;
    font-size: 15px;
}

/* [ New Product ]*/
.newproduct {
    font-size: 40px;
}

.s-text11 {
    font-family: Montserrat-Italic;
    font-size: 13px;
    color: #888888;
    line-height: 1.8;
}

.flex-w-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bo2 {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}



/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND
==================================================================*/
.bg-none {background-color: transparent;}
.bg0 {background-color: #fff;}
.bg1 {background-color: #717fe0;}
.bg2 {background-color: #e6e6e6;}
.bg3 {background-color: #222;}
.bg5 {background-color: rgba(0,0,0,0.5);}
.bg6 {background-color: #f2f2f2;}
.bg7 {background-color: #333;}
.bg8 {background-color: #f3f3f3;}
.bg9 {background-color: rgba(255,255,255,0.9);}

/*==================================================================
                            [ cl ]
==================================================================*/
.cl0 {color: #fff;}
.cl1 {color: #717fe0;}
.cl2 {color: #333;}
.cl3 {color: #666;}
.cl4 {color: #999;}
.cl5 {color: #222;}
.cl6 {color: #888;}
.cl7 {color: #b2b2b2;}
.cl8 {color: #555;}
.cl9 {color: #aaa;}
.cl10 {color: #1d1d1d;}
.cl11 {color: #f9ba48;}
.cl12 {color: #ccc;}

/*==================================================================
                            [ Width ]
==================================================================*/
.size-201 {
    max-width: 270px;
}

.size-202 {
    width: calc(100% / 3);
}

.size-203 {
    width: 105px;
}

.size-204 {
    width: calc(100% - 105px);
}

.size-205 {
    width: 145px;
}

.size-206 {
    width: calc(100% - 145px);
}

.size-207 {
    width: calc(100% - 78px);
}

.size-208 {
    width: 34.5%;
}

.size-209 {
    width: 65.5%;
}

.size-210 {
    width: 50%;
}

.size-211 {
    width: 60px;
}

.size-212 {
    width: calc(100% - 60px);
}

.size-213 {
    max-width: 245px;
}

.size-214 {
    width: 90px;
}

.size-215 {
    width: calc(100% - 110px);
}

.size-216 {
    width: 55px;
}

.size-217 {
    width: calc(100% - 55px);
}

.size-218 {
    max-width: 286px;
}

/*==================================================================
                            [ S-Text 0 - 15 ]
==================================================================*/
.stext-101 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
}

.stext-102 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
}

.stext-103 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.466667;
}

.stext-104 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
}

.stext-105 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
    letter-spacing: 1px;
}

.stext-106 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
}

.stext-107 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923;
}

.stext-108 {
    font-family: Poppins-Light;
    font-size: 14px;
    line-height: 1.7143;
}

.stext-109 {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 1.833333;
}

.stext-110 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
}

.stext-111 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.6923;
}

.stext-112 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.6923;
    text-transform: uppercase;
}

.stext-113 {
    font-family: Poppins-Light;
    font-size: 14px;
    line-height: 1.7857;
}

.stext-114 {
    font-family: Poppins-Italic;
    font-size: 15px;
    line-height: 1.666667;
}

.stext-115 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.666667;
}

.stext-116 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.266667;
}

.stext-117 {
    font-family: Poppins-Light;
    font-size: 15px;
    line-height: 1.666667;
}


#liveShop {
    font-family: Poppins-Medium;
    font-size: 20px;
    background: transparent;
    border: none;
    padding-bottom: 3px;
    padding-left: 9px;
    cursor: pointer;
}

#liveShop:hover {
    text-decoration: none;
    color: #6c7ae0;
}