.buy_product table {
    border-collapse: collapse;
    width: 100%;
}

.buy_product th {
    padding: 8px;
    text-align: center;
    background-color: #555555;
    color: white;
}
.buy_product td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    margin-left: 50px;
    -ms-flex: 75%; /* IE10 */
    flex: 65%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

#container .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.my_input_addr1 {
    width: 50% !important;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.my_input_addrbtn {
    padding: 11px;
    margin-left: 10px;
}

.btn {
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    width: 92.5%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 50px;
}

.btn:hover {
    background-color: red;
    transition: 0.3s;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
